<!DOCTYPE html>
<html lang="en">
<head>
    <title>Discrete Logics : {{ page.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include meta %}
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/discretelogics.css" rel="stylesheet">
    <link href="/css/bootstrap-lightbox.css" rel="stylesheet">        
    <script src="/js/jquery-1.9.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-lightbox.js"></script>
</head>
    <body>
        <header class="container">
            <a class="logo" href="/">DISCRETELOGICS</a>
            <div class="container">
                <div class="row menu">
                    <div class="navbar offset3">
                        <ul class="nav">
                            <li {% if page.mainmenu == "products" %} class="active" {% endif %}><a href="/">Products</a></li>
                            <li {% if page.mainmenu == "shop" %} class="active" {% endif %}><a href="/shop">Shop</a></li>
                            <li {% if page.mainmenu == "downloads" %} class="active" {% endif %}><a href="/resources">Downloads</a></li>
                            <li {% if page.mainmenu == "about" %} class="active" {% endif %}><a href="/about">About</a></li>
                            <li {% if page.mainmenu == "blog" %} class="active" {% endif %}><a href="/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
                {% if page.mainmenu == "products" %}
                <div class="row">
                    <div class="navbar offset4 submenu">
                        <ul class="nav">
                            <li {% if page.title == "TeaTime" %} class="active" {% endif %}><a href="/">TeaTime</a></li>
                            <li {% if page.title == "TeaFiles" %} class="active" {% endif %}><a href="/teafiles">TeaFiles</a></li>
                            <li {% if page.title == "TeaShell" %} class="active" {% endif %}><a href="/teashell">TeaShell</a></li>
                            <li {% if page.title == "TeaHouse" %} class="active" {% endif %}><a href="/teahouse">TeaHouse</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
    
        {{ content }}

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-envelope"></i><a href="mailto:office@discretelogics.com">office@discretelogics.com</a>
                        <a class="follow twitter" href="http://twitter.com/discretelogics" target="extern">Follow on Twitter</a>
                        <a class="follow github" href="http://github.com/discretelogics" target="extern">Follow on Github </a>
                    </div>
                    <div class="span6"></div>
                </div>
            </div>
        </div>
        
        <script>
          $(document).ready(function () {
            $(document.body).scrollspy({ target: "aside" });
            $("aside > ul").affix();
          });
        </script>
        {% if page.carousel %}
        <script src="/js/bootstrap-carousel.js"></script>
        <script>
          $(document).ready(function () {
            $('.carousel').carousel({ interval: 5000 });
          });
        </script>        
        {% endif %}       
    </body>
    {% include ga %}
</html>
